<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BuildRules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A calm, blue sky.">
    <meta name="author" content="Thomas Park">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootswatch.css')}}" rel="stylesheet">

  </head>



  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">


  <script src="{{url_for('static', filename='js/bsa.js')}}"></script>


		  <!-- Navbar
		    ================================================== -->
		 <div class="navbar navbar-fixed-top" >
		   <div class="navbar-inner">
		     <div class="container">
		       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		         <span class="icon-bar"></span>
		         <span class="icon-bar"></span>
		         <span class="icon-bar"></span>
		       </a>
		       <a class="brand" href="../">BuildingRules</a>
		       <div class="nav-collapse collapse" id="main-menu">
		        <ul class="nav" id="main-menu-left">
		          <li><a id="swatch-link" href="{{url_for('gui.buildings')}}">Buildings</a></li>
		          <li><a id="swatch-link" href="{{url_for('gui.logout')}}">Logout</a></li>		          
		          <li><a id="swatch-link" href="{{url_for('gui.login')}}">Login</a></li>
		        </ul>
		        <ul class="nav pull-right">
		          <li><a href="#">
		          	{% if session %}
		          		{{session.username}}
		          	{% endif %}
		          </a></li>
		        </ul>
		       </div>
		     </div>
		   </div>
		 </div>

		<div class="container">

			{% for message in get_flashed_messages() %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{message}}
			</div>
			{% endfor %}

			<!-- Insert the body here -->
			{% block body %}{% endblock %}
			<!-- End of the body -->


		 <!-- Footer
		  ================================================== -->
		  <hr>

		  <footer id="footer">
		  	<p>BuildingRules 0.1</p>
		    <p class="pull-right"><a href="#top">Back to top</a></p>
		    <div class="links">
		      <a href="">JOL S-Cube Lab</a>
		      <a href="">Synergy Lab</a>
		    </div>
		  </footer>

		</div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery.smooth-scroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootswatch.js')}}"></script>

   <script src="{{url_for('static', filename='app_js/buildingrule_lib.js')}}" ></script>   

  </body>
</html>
