{% extends "layout.html" %}
{% block body %}
  
    <div class="container">

        <p class="lead">
        <h1>Amazon Mechanical Turk Information!</h1>
        </p>

        <br>
        <br>

        <p class="p2">We are conducting an academic experiment to gauge the ease of use of a new technology to manage Smart Buildings. The technology is a web application that allows you to specify policies you would want in your office. You can set policies like turn on office lights when it is raining, or turn on cooling when temperature is 75F. The software makes sure that you don&#39;t conflict other employees in the office or the policies set by the building manager. A more detailed explanation is given by a small video when you start the survey.</p>

        <p class="p2">Select the link below to participate in the experiment.&nbsp; This is a <strong>7 day long experiment</strong>, where you will be participating for about<strong> 10 minutes each day</strong>. At the end of the participation on each day, you will receive a code to paste into the boxes below to receive credit for taking our survey.&nbsp; After all 7 days have been completed, and we verify that your rules are realistic, we will pay the quoted money.</p>

        <br>
        <br>


        <p class="p2"><strong style="color: rgb(178, 34, 34); line-height: 1.6em;">WARNING:</strong></p>

        <strong style="color: rgb(178, 34, 34); line-height: 1.6em;">When you finish your daily task, you&#39;ll recieve a code you have to save. You need 7 codes to get paid at the end of the experiment week.&nbsp;</strong>
        <br>
        <strong style="color: rgb(178, 34, 34); line-height: 1.6em;">The timezone cosidered&nbsp;for each experiment day is GMT-8</strong>

        <br>
        <br>
        <br>
        <br>
        <br>

        <p class="lead">
            Our mail address is: <a href="mailto:energybox.buildingrules@gmail.com">energybox.buildingrules@gmail.com</a>
        </p>

        <br>
        <br>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
    </div>

{% endblock %}
