{% extends "layout.html" %}
{% block body %}
  
  		<br>
  		<br>
  		

	<div class="container" align="center">
        <img src="http://www.alessandronacci.com/energybox/buildingrules/survey/images/buildingRules_logo.png">
        <br>
        <br>

        <p class="lead">
        <h1>Partecipate the experiment!</h1>
        </p>

        <p class="lead">
            Thanks for visiting us! To partecipate the experiment, register to BuildingRules, 
            <br> get the ID and send us an e-mail with that ID to obtain the Amazon Gift Card!
            <br>
            <br>
            Our mail address is: <a href="mailto:energybox.buildingrules@gmail.com">energybox.buildingrules@gmail.com</a>
        </p>

        <br>
        <br>

        <a class="btn btn-lg btn-success" href="/register/ucsdUser">Register to the BuildingRules experiment!</a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
    </div>

{% endblock %}
