{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

	<script type="text/javascript">
	var popupStyle = "top=10, left=10, width=350, height=250, status=no, menubar=no, toolbar=no, scrollbars=yes";
	
	function openPopup(url) 
	{
		window.open(url, "", popupStyle);
	}
	</script>

  	{% for notification in notificationList %}
		<div class="alert alert-block">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>{{notification.messageSubject}}</h4>
		  {{notification.messageText}}
		</div>
	{% endfor %}

	<header class="jumbotron subhead" id="overview">

	    <div class="span8">
	      <h1>My Rooms</h1>
	      <p class="lead">With this page you can create your own simple rules for your own personal spaces. Just add the rules inside the correct box and... that's all!</p>
	    </div>
	    <div class="span4">
	    </div>

	</header>

	{% if roomList %}
		<section id="typography">

			<div class="form-actions">
				<form action="{{request.path}}" method="post">
					<h3>Filter rules by category: </h3>
					<small><b>NOTE:</b> IF NO FILTER IL SELECTED ALL THE RULES WILL BE SHOWN</small>
					<br>
					<br>
					{% for category in categories %}
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox1" value="True" name="filter_by_{{category}}" {% if categoriesFilter %} {% if category in categoriesFilter %} checked {% endif %} {% endif %}> {{category}}
						</label>
					{% endfor %}
					<button type="submit" class="btn btn-primary btn-small">Filter now!</button>
					<br>
					

				</form>
			</div>


			{% for room in roomList %}
				<div class="row"> 
				  <div class="span8">
				    <h3>Room {{room.roomName}}</h3>
				    <hr>
				    {% for rule in roomRules[room.roomName] %}
				    	<blockquote>
				    		<p {% if rule.enabled %} {% else %} class="muted" {% endif %}>
				    			{% if rule.enabled %} {% else %} <strike> {% endif %}
				    				<b>if</b> {{rule.antecedent}} <b>then</b> {{rule.consequent}} 
				    			{% if rule.enabled %} {% else %} </strike> {% endif %}
								<small class="muted">
								<span class="badge">{{rule["priority"]}}</span>
									By:
									{% if session.userUuid == rule.authorUuid%}
										You
									{% else %}
										{{authorList[rule.authorUuid].personName}} - <i>{{authorList[rule.authorUuid].email}}</i>
									{% endif %}

									{% if rule.groupId %} 
										(Group {{rule.groupId }}-{{groupList[rule.groupId].description}}
										{% if rule.roomName %} 
											{% if rule.roomName == room.roomName %} {% else %} / Room {{rule.roomName}} {% endif %} 
										{% endif %}
										)
									{% endif %}

									{% if rule.groupId and rule.roomName %}
									- [<a href="{{request.path}}/../groups/{{rule.groupId}}/rooms/{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>]
									  [<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]
									  
									{% else %}
										{% if rule.roomName %}
											- [<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>] [<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]
											{% if rule.enabled %}
												[<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/disable">Disable</a>]
											{% else %}
												[<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/enable">Enable</a>]
											{% endif %}
										{% endif %}
									{% endif %}
								</small>
				    		</p>
				    	</blockquote> 
				    {% endfor %}

				    

				  </div>
				  <div class="span4">
				    <div class="well">
				      <h4>Sensors</h4>
				      <p>
				      	{% for trigger in triggerList[room.roomName] %}
				      		{{trigger.description}}, 
				      	{% endfor %}
				      </p>
				      <br>
				      <h4>Actuators</h4>
				      <p>
				      	{% for action in actionList[room.roomName] %}
				      		{{action.description}}, 
				      	{% endfor %}
				      </p>
				      <br>
				      <h4>Occupants:</h4>
				      <p>
				      	{% for user in userList[room.roomName] %}
				      		{{user.username}}, 
				      	{% endfor %}				      	
				      </p>
				      <br>
				      <h4>Part of groups: <br> <small>Click on the group name to see the room list</small></h4>

				      	{% for group in roomGroupList[room.roomName] %}
				      		<a href="javascript:openPopup('{{request.path}}/../groups/{{group.id}}');">{{group.id}}:{{group.description}}</a>, 
				      	{% endfor %}				      	
				    </div>
				  </div>
				</div>
				<br>
				<a href="{{request.path}}/{{room.roomName}}/rules/add"><button type="button" class="btn">Add a new rule</button></a>
				<br>
				<br>
		  	{% endfor %}
		</section>
	{% endif %}


  {% endif %}
{% endblock %}
