{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

	<header class="jumbotron subhead" id="overview">
	    <div class="span8">
	      <h1>My Rooms</h1>
	      <p class="lead">With this page you can create your own simple rules for your own personal spaces. Just add the rules inside the correct box and... that's all!</p>
	    </div>
	    <div class="span4">
	    </div>
	</header>

	{% if roomList %}
		<section id="typography">
			{% for room in roomList %}
				<div class="row"> 
				  <div class="span8">
				    <h3>Room {{room.roomName}}</h3>
				    <hr>
				    {% for rule in roomRules[room.roomName] %}
				    	<blockquote>
				    		<p {% if rule.group != None %} class="muted"{% endif %}>
				    			<b>if</b> {{rule.antecedent}} <b>then</b> {{rule.consequent}} 
								<small class="muted">
									By:
									{% if session.userUuid == rule.authorUuid%}
										You
									{% else %}
										{{authorList.authorUuid.personName}} - <i>{{authorList.authorUuid.email}}</i>
									{% endif %}

									{% if rule.groupId %} (Group {{groupList[rule.groupId].description}}){% endif %}

								</small>
				    		</p>
				    	</blockquote> 
				    {% endfor %}

				    

				  </div>
				  <div class="span4">
				    <div class="well">
				      <h4>What you can do in Room {{room.roomName}}</h4>
				      <h5>Sensors</h5>
				      <p>Wheater, date time, presence, temperature</p>
				      <h5>Actuators</h5>
				      <p>Socket 36, heating</p>
				      <br>
				      <h4>Occupants of room Room {{room.roomName}}</h4>
				      <p>You, Mr. Bob, Mrs. Katy</p>
				    </div>
				  </div>
				</div>
				<br>
				<a href="{{request.path}}/{{room.roomName}}/rules/add"><button type="button" class="btn">Add a new rule</button></a>
				<br>
				<br>
		  	{% endfor %}
		</section>
	{% endif %}


  {% endif %}
{% endblock %}
