{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

	<header class="jumbotron subhead" id="overview">
	    <div class="span8">
	      <h1>My Rooms</h1>
	      <p class="lead">With this page you can create your own simple rules for your own personal spaces. Just add the rules inside the correct box and... that's all!</p>
	    </div>
	    <div class="span4">
	    </div>
	</header>

	{% if roomList %}
		<section id="typography">
			{% for room in roomList %}
				<div class="row"> 
				  <div class="span8">
				    <h3>Room {{room.roomName}}</h3>
				    <hr>
				    {% for rule in roomRules[room.roomName] %}
				    	<blockquote>
				    		<p {% if rule.group != None %} class="muted"{% endif %}>
				    			<b>if</b> {{rule.antecedent}} <b>then</b> {{rule.consequent}} 
								<small class="muted">
								<span class="badge">{{rule["priority"]}}</span>
									By:
									{% if session.userUuid == rule.authorUuid%}
										You
									{% else %}
										{{authorList[rule.authorUuid].personName}} - <i>{{authorList[rule.authorUuid].email}}</i>
									{% endif %}

									{% if rule.groupId %} 
										(Group {{rule.groupId }}-{{groupList[rule.groupId].description}}
										{% if rule.roomName %} 
											{% if rule.roomName == room.roomName %} {% else %} / Room {{rule.roomName}} {% endif %} 
										{% endif %}
										)
									{% endif %}

									{% if rule.groupId and rule.roomName %}
									- [<a href="{{request.path}}/../groups/{{rule.groupId}}/rooms/{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>] [<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]
									{% else %}
										{% if rule.roomName %}
										- [<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>] [<a href="{{request.path}}/{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]
										{% endif %}
									{% endif %}
								</small>
				    		</p>
				    	</blockquote> 
				    {% endfor %}

				    

				  </div>
				  <div class="span4">
				    <div class="well">
				      <h4>Sensors</h4>
				      <p>
				      	{% for trigger in triggerList[room.roomName] %}
				      		{{trigger.description}}, 
				      	{% endfor %}
				      </p>
				      <br>
				      <h4>Actuators</h4>
				      <p>
				      	{% for action in actionList[room.roomName] %}
				      		{{action.description}}, 
				      	{% endfor %}
				      </p>
				      <br>
				      <h4>Occupants:</h4>
				      <p>
				      	{% for user in userList[room.roomName] %}
				      		{{user.username}}, 
				      	{% endfor %}				      	
				      </p>
				      <br>
				      <h4>Part of groups:</h4>
				      	{% for group in roomGroupList[room.roomName] %}
				      		{{group.id}}:{{group.description}}, 
				      	{% endfor %}				      	
				    </div>
				  </div>
				</div>
				<br>
				<a href="{{request.path}}/{{room.roomName}}/rules/add"><button type="button" class="btn">Add a new rule</button></a>
				<br>
				<br>
		  	{% endfor %}
		</section>
	{% endif %}


  {% endif %}
{% endblock %}
