{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}


  	{% if rule %}
		<h3>Rule Editing!</h3>
	{% else %}
		<h3>Add a new rule!</h3>
	{% endif %}
	<br>

	{% if insertionForGroup %}
		<p>This form let you to add a rule to the choosen group.</p>
	{% endif %}

	{% if insertionForRoom %}
		<p>This form let you to add a rule to the choosen room.</p>
	{% endif %}


	<br>

	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

	<form class="form-horizontal" action="{{request.path}}" method="POST">

	  <div class="control-group">
	    <label class="control-label" for="ruleBody">Your new rule</label>
	    <div class="controls">
	      <input type="text" id="ruleBody" name="ruleBody"  class="span5" placeholder="if temperature is between 10 and 20 then turn off the heating" value="{% if rule %} if {{rule.antecedent}} then {{rule.consequent}} {% endif %}">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="priority">Rule priority</label>
	    <div class="controls">

			{% if insertionForGroup %}
				<bold class="muted">LOW</bold> <input type="range" min ="0" max="200" name="priority" id="priority" value="{% if rule %}{{rule.priority}}{% endif %}"> <bold class="muted">HIGH</bold>
			{% endif %}

			{% if insertionForRoom %}
				<bold class="muted">LOW</bold> <input type="range" min ="0" max="100" name="priority" id="priority" value="{% if rule %}{{rule.priority}}{% endif %}"> <bold class="muted">HIGH</bold>
			{% endif %}
			<br>
			<small class="muted"><b>Allowed priority values:</b></small>
			{% if insertionForGroup %}
				<br>
				<small class="muted">Group priority: [0-200]</small>
			{% endif %}
			<br>
			<small class="muted">Room priority: [0-100]</small>

	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn">Save the new rule!</button>
	    </div>
	 </div>

	</form>

	<br>
	<br>

  {% endif %}
{% endblock %}
