{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}


	<h3>Add a new rule!</h3>
	<br>

	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

	<form class="form-horizontal" action="{{request.path}}" method="POST">

	  <div class="control-group">
	    <label class="control-label" for="ruleBody">Your new rule</label>
	    <div class="controls">
	      <input type="text" id="ruleBody" name="ruleBody"  class="span5" placeholder="if temperature is between 10 and 20 then turn off the heating" value="{% if rule %} if {{rule.antecedent}} then {{rule.consequent}} {% endif %}">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="priority">Rule priority</label>
	    <div class="controls">
	      <bold class="muted">LOW</bold> <input type="range" min ="0" max="100" name="priority" id="priority" value="{% if rule %}{{rule.priority}}{% endif %}"> <bold class="muted">HIGH</bold>
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn">Save the new rule!</button>
	    </div>
	 </div>
	
	</form>

	<br>
	<br>

  {% endif %}
{% endblock %}
