{% extends "layout.html" %}
{% block body %}
    <h2>Game instructions</h2>

    <br>
    <br>
    <h3 align="center">Thank you for your partecipation to this funny game!
        <br>
        <br>
        You are going to enter a virtual building.
        <br>
        There will be you (your avatar), your colleagues and the building manager.
        <br>
    </h3>
    <br>
    <div class="alert alert-block" id="accessMap">
        <img src="{{url_for('static', filename='roomMaps/')}}{{mapFileName}}">
        <br>
        <b>This maps shows the rooms you can access</b>
    </div>
    <br>

    <h3>Your goal is to make your avatar and the building manager happy. <br>
        To make your avatar happy you need to set room rules to increase his comfort.<br>
        To make the building manager happy you need to set rules to riduce the power consumption.<br><br>

        You will race with other players. <br>
        At the end of this experiment that will last 3 days, the player that will reach the highest score will be awarded with a 15 euro Amazon Gift Card.
        <br>
        <br>
    </h3>

  <br>

  
  

  <div class="alert alert-block" align="center">
      <h3>You will manage these rooms:</h3><br>
      {% for room in roomList %}{{room["roomName"]}} - {{room ["description"]}} <br>{% endfor %}
    <br>
    <form method="post  " action="/buildings/CSE/rooms/{{roomList[0]['roomName']}}/game"><button type="submit" class="btn btn-large btn-primary">START GAME!</button></form>
      <br>

  </div>

  <br>
  <br>
  <br>
  
    <br>
  <br>
  <br>
  
    <br>
  <br>
  <br>
  
  

{% endblock %}