<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Simple Canvas Game</title>
        <script>
             function myFunction() {document.submitForm.submit();}
        </script>
	</head>
	<body>

        <div id="ganttDiv">
            <form name="submitForm" target="dataFrame" action="/buildings/CSE/rooms/{{roomName}}/game" method="post"></form>

            <iframe name="dataFrame" src="" style='height: 1024px; width: 1280px; float: left; border: 2px black solid'>Not supported</iframe>
        </div>

      <script type ="text/javascript">
          myFunction();
      </script>

	</body>
</html>