<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body style="background-color: #ffffff;font-size: 12px">
    <div>
        <h1 style="color: royalblue;text-align: center;border-radius: 20px 20px 20px 20px;background-color: #A9E2F3">Building Rules Game!</h1>
        <h2 style="color: blue;text-align: center">Room : {{roomName}} - {{description}}</h2>
        <div style="float: left">
            <div>
                <div style="float:left">
                    <h3 style="text-align: center">You</h3>
                    {%if roomHappiness["you"] %}
                        <img height="364" width="210" src="{{url_for('static', filename='images/gameImages/youHappy.jpg')}}">
                    {% else %}
                        <img height="364" width="210" src="{{url_for('static', filename='images/gameImages/youSad.jpg')}}">
                    {% endif %}
                    <br><br>
                    {%if roomHappiness["whyYou"]!=""%}<div style=" padding:5px;border-radius: 20px 20px 20px 20px;background-color: lightsalmon;width: 200px"> <b>Why are you not happy?</b> <br> {% autoescape false %}{{roomHappiness["whyYou"]}}{% endautoescape %}</div> <br><br>{% endif %}
                    <p style="text-decoration: underline; width: 200px"><b>Info</b> : all the inserted, modified or deleted <br> rules are checked every 30 minutes!</p>
                </div>

                <div style="float:left">
                    <h3 style="text-align: center">Building Manager</h3>
                    {%if roomHappiness["manager"] %}
                        <img height="364" width="210" src="{{url_for('static', filename='images/gameImages/happyBuildingManager.jpg')}}">
                    {% else %}
                        <img height="364" width="210" src="{{url_for('static', filename='images/gameImages/sadBuildingManager.jpg')}}">
                    {% endif %}
                    <br><br>
                    {%if roomHappiness["whyManager"]!=""%}<div style=" padding:5px;border-radius: 20px 20px 20px 20px;background-color: lightsalmon;width: 200px"> <b> Why the manager is not happy? </b> <br> {% autoescape false %}{{roomHappiness["whyManager"]}}{% endautoescape %}</div> {% endif %}
                </div>
            </div>


        </div>

        <div style="padding:10px;float: left; border-radius: 20px 20px 20px 20px;background-color: gainsboro">
            <h3>Last Update Time: {{time}}</h3>
            <h3>Score: {{score}}</h3>
            <br>
            <h2 style="color: red"><b>Room Stats</b></h2>
            <h3>Room Temp : {{infoRoom["RoomTemp"]}} </h3>
            <h3>Ext Temp : {{infoRoom["ExtTemp"]}} </h3>
            <h3>Humidity : {{infoRoom["Hum"]}} </h3>
            <h3>Weather : {{infoRoom["Weather"]}} </h3>
            <h3>Power consumption : {{infoRoom["Power"]}} </h3>
            <br>

            <h2 style="color: red"><b>Actuators Stats</b></h2>
            {% for category in categoryList%}
                <h3> {{category}}: {% if category in statusDict%}{{statusDict[category]}}{%endif%}</h3>
            {% endfor %}
        </div>

        <div style="padding:10px;float: left; border-radius: 20px 20px 20px 20px;background-color: lightblue;margin-left: 10px">
            <h2 style="color: red"><b>Ranking</b></h2>

                <h3> {% autoescape false %} {{ranking}} {% endautoescape %}</h3>

        </div>

        <div style="padding:10px;float: left; border-radius: 20px 20px 20px 20px;background-color: lightcyan;margin-left: 10px">
            <h2 style="color: red"><b>Room List</b></h2>
            {% for room in roomList%}
                <h4 {% if room["roomName"]==roomName %} style="color:green" {% endif %}>{{room["roomName"]}} - {{room["description"]}} [<a href='javascript:document.r_{{room.roomName}}.submit();'>Show Status</a>] [<a href="/buildings/CSE/rooms/{{room.roomName}}" target="_blank">Manage</a>]</h4>
                <form name="r_{{room.roomName}}" action="/buildings/CSE/rooms/{{room.roomName}}/game/" method="POST"></form>
            {% endfor %}
        </div>
    </div>

    <script src="{{url_for('static', filename='js/game.js')}}"></script>
</body>
</html>