{% extends "layout.html" %}

{% block body %}


  {% if session.logged_in %}


    <img id="graphImg" alt="Graph Image" src="{{url_for('static', filename='images/roomGraphs/')}}{{graphPath}}.png"/>

    <div id="term"></div>
  {% endif %}
  <script src="{{url_for('static', filename='js/jquery-1.8.3.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.terminal-0.8.8.js')}}"></script>
  <script>



     $(document).ready(function() {
        $('#graphImg').click(function() {
            window.open("{{url_for('static', filename='images/roomGraphs/')}}{{graphPath}}.png?"+ d.getTime());
        });
    });

     jQuery(function($) {
    $('#term').terminal(function(command,term) {
        var rNumb = /\d+/;
        if (command !== '') {
            if (command == 'editGraph -t bbg'){
                changeGraphType("bbg");
            }
            else if (command == 'editGraph -t minbbg'){
                changeGraphType("minbbg");
            }
            else if (command == 'analyze -all'){
                term.echo(new String("Be sure you have run 'editGraph -t minbbg'"),'b');
                analyze("all",function(text) {
                    term.echo(new String(text));
                });
            }
            else if(command.indexOf("disablerule")>-1){
                id = command.match(rNumb)[0];
                disableRule(id,function(text) {
                    term.echo(new String(text));
                });
            }
            else if(command.indexOf("enablerule")>-1){
                id = command.match(rNumb)[0];
                enableRule(id,function(text) {
                    term.echo(new String(text));
                });
            }
            else if (command.indexOf("addRule")>-1){
                rule = command.replace("addRule ","");
                addRule(rule,function(text) {
                    term.echo(new String(text));
                });
            }
            else if (command == "help"){
                term.echo(new String("editGraph -t bbg\t Draw Building Behaviour Graph\n" +
                        "editGraph -t minbbg\t Draw Building Behaviour Graph Minimized\n" +
                        "analyze -all\t Run all the analysis on the graph\n" +
                        "disablerule RULEID\t Disable the RULEID rule\n" +
                        "enablerule RULEID\t Enable the RULEID rule\n"));
            }
            else {
                term.error(new String("Command unknown - type help"));
            }
        } else {
           term.echo('');
        }



    }, {
        greetings: 'BuildingRules Graph Navigator  -  type help',
        name: 'js_demo',
        onBlur: false,
        height: 400,
        prompt: 'manager@bRules: # '});
    });

     function changeGraphType(type) {
         $.ajax({
             type: 'POST',
             cache: false,
             data:{graphType:type},
             url: "{{request.path}}/update",
             success: function (resp) {
                 var json = JSON.parse(resp);
                 d = new Date();


                 $('#graphImg').attr({'src':"{{url_for('static', filename='images/roomGraphs/')}}" + json["graphPath"] + ".png?"+ d.getTime()});
             }
         });
     }

    function analyze(type,callback) {
             $.ajax({
                 type: 'POST',
                 cache: false,
                 data:{analyzeType:type},
                 url: "{{request.path}}/update",
                 success: function (resp) {
                     callback("UselessRules: " + resp["uselessRules"] + ";\nUncontrolledStates: " + resp["uncontrolledStates"] + ";\nUncontrolledActuators: " + resp["uncontrolledActuators"]
                     + ";\nStability: " + resp["cycleExistence"]);
                 }
             });
         }

     function disableRule(ruleId,callback) {
             $.ajax({
                 type: 'POST',
                 cache: false,
                 data:{disableRule:ruleId},
                 url: "{{request.path}}/update",
                 success: function (resp) {
                     callback("Rule "+ruleId+" disabled - run editGraph -t bbg");
                 }
             });
         }

      function enableRule(ruleId,callback) {
             $.ajax({
                 type: 'POST',
                 cache: false,
                 data:{enableRule:parseInt(ruleId)},
                 url: "{{request.path}}/update",
                 success: function (resp) {
                     callback("Rule Inserted");
                 }
             });
         }
      function addRule(rule,callback) {
             $.ajax({
                 type: 'POST',
                 cache: false,
                 data:{addRule:rule},
                 url: "{{request.path}}/update",
                 success: function (resp) {
                     callback("Rule "+ruleId+" enabled - run editGraph -t bbg");
                 }
             });
         }


    </script>

{% endblock %}