{% extends "layout.html" %}

{% block body %}


  {% if session.logged_in %}

    <img id="graphImg" alt="Graph Image" src="{{url_for('static', filename='images/roomGraphs/')}}{{graphPath}}.png" data-zoom-image="{{url_for('static', filename='images/roomGraphs/')}}{{graphPath}}.png"/>
    <div id="term"></div>
  {% endif %}
                <script src="{{url_for('static', filename='js/jquery-1.8.3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.elevatezoom.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.terminal-0.8.8.js')}}"></script>
  <script>
     jQuery('#graphImg').elevateZoom({
            zoomWindowPosition:6,
             zoomWindowWidth:800,
            zoomWindowHeight:500});
    </script>

    <script>
     jQuery(function($) {
    $('#term').terminal(function(command, term) {
        if (command !== '') {
            try {
                /*var result = window.eval(command);
                if (result !== undefined) {
                    term.echo(new String(command));

                }*/
                if (command == 'refresh'){
                    refreshImage();
                }
            } catch(e) {
                term.error(new String(e));
            }
        } else {
           term.echo('');
        }
    }, {
        greetings: 'Javascript Interpreter',
        name: 'js_demo',
        height: 200,
        prompt: 'js> '});
    });
     function refreshImage() {
         $.ajax({
             type: 'GET',
             cache: false,
             url: "{{request.path}}/update",
             success: function (resp) {
                 var json = JSON.parse(resp);
                 $('#graphImg').attr('src', "{{url_for('static', filename='images/roomGraphs/')}}" + json["graphPath"] + ".png");
             }
         });
     }
    </script>

{% endblock %}