{% extends "layout.html" %}
{% block body %}

  {% if session.logged_in %}

	<style>
	    .wrap { width: 750px; height: 390px; padding: 0; overflow: hidden; }
	    .frame { width: 1000px; height: 700px; border: 0px solid black; }
	    .frame {
	        -ms-zoom: 0.95;
	        -moz-transform: scale(0.95);
	        -moz-transform-origin: 0 0;
	        -o-transform: scale(0.95);
	        -o-transform-origin: 0 0;
	        -webkit-transform: scale(0.95);
	        -webkit-transform-origin: 0 0;
	    }
	</style>

	<style>
		.ruleNav_OCCUPANCY 				{background-color:#F78181;}
		.ruleNav_EXT_TEMPERATURE 		{background-color:#F7BE81;}
		.ruleNav_TIME 					{background-color:#F5DA81;}
		.ruleNav_DATE 					{background-color:#F3F781;}
		.ruleNav_WEATHER 				{background-color:#D8F781;}
		.ruleNav_ROOM_TEMPERATURE 		{background-color:#BEF781;}
		.ruleNav_DEFAULT_STATUS 		{background-color:#9FF781;}
		.ruleNav_DAY 					{background-color:#A9E2F3;}
		.ruleNav_EXTERNAL_APP 			{background-color:#D0A9F5;}
	</style>




    <a name="roomMenu_{{roomName}}" id="roomMenu_{{roomName}}"></a>
    <div class="row">

                      <div class="col-md-9">
                        <!--<div style="padding:10px; border-radius: 20px 20px 20px 20px;background-color: gainsboro; margin-right: 10px; margin-top: 10px">
                                        <center><b>{{rulesCount}} Rule </b> inserts remaining in this room for today!<br>You can edit each rule twice per day</center>

                        </div>-->
                        <div style="padding:10px; padding-left:40px; border-radius: 20px 20px 20px 20px;background-color: gainsboro; margin-right: 10px; margin-top: 10px">
                            <h4 style="font-weight: bold">Suggestions</h4>
                            {% if analysisDict == {} %}
                                <center>No Suggestion</center>
                            {% else %}
                                <ul>
                                <li><p style="font-size: 16px; display: inline; font-weight: bold;">Uncontrolled Actuators:</p> {{analysisDict.uncontrolledActuators}}</li>
                                <li><p style="font-size: 16px; display: inline; font-weight: bold;">Uncontrolled States:</p> {{analysisDict.uncontrolledStates}}</li>
                                <li><p style="font-size: 16px; display: inline; font-weight: bold;">Useless Rules:</p>
                                    {% for uselessRule in analysisDict.uselessRules %}
                                        <ul>{{ uselessRule }}</ul>
                                    {% endfor %}
                                </li>
                                <!--<li>Room Stability: {{analysisDict.cycleExistence}}</li>-->
                                </ul>
                            {% endif %}


                        </div>
                        <h1 class="page-header">Room {{roomName}} <small>{{description}} <!--<a href="{{request.path}}/graph">Show Graph</a> --></small> </h1>



                        <div class="bs-docs-example">
                            <ul id="myTab" class="nav nav-tabs">
                              <li><a href="#roomSummary_{{roomName}}" data-toggle="tab">Summary</a></li>
                              <li class="active"><a href="#rulePanel_{{roomName}}" data-toggle="tab">Rules Editor</a></li>
                              <!--<li><a href="#roomBehavior_{{roomName}}" data-toggle="tab">Room Behavior</a></li>-->
                              <li><a href="#ruleNavigator_{{roomName}}" data-toggle="tab">Rules Navigator</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">


                              <div class="tab-pane fade in active" id="rulePanel_{{roomName}}" >
                                    <div class="btn-toolbar" style="background-color:#F5F5F5; padding:10px;">
                                          <h4>Filter by status</h4>
                                          <a href="javascript:filterByStatus('{{roomName}}','SHOWALLSTATUS',false)"><button class="btn active" id="btn_{{roomName}}_SHOWALLSTATUS">SHOW ALL</button></a>
                                          <a href="javascript:filterByStatus('{{roomName}}','SHOWACTIVE',false)"><button class="btn" id="btn_{{roomName}}_SHOWACTIVE">SHOW ACTIVE</button></a>
                                    </div>
                                      

                                    <div class="btn-toolbar" style="background-color:#F5F5F5; padding:10px;">
                                          <h4>Filter by day period</h4>
                                          <a href="javascript:filterByDayPeriod('{{roomName}}','ALLPERIOD',false)"><button class="btn active" id="btn_{{roomName}}_ALLPERIOD">ALL DAY</button></a>
                                          <a href="javascript:filterByDayPeriod('{{roomName}}','MORNING',false)"><button class="btn" id="btn_{{roomName}}_MORNING">MORNING</button></a>
                                          <a href="javascript:filterByDayPeriod('{{roomName}}','AFTERNOON',false)"><button class="btn" id="btn_{{roomName}}_AFTERNOON">AFTERNOON</button></a>
                                          <a href="javascript:filterByDayPeriod('{{roomName}}','EVENING',false)"><button class="btn" id="btn_{{roomName}}_EVENING">EVENING</button></a>
                                          <a href="javascript:filterByDayPeriod('{{roomName}}','NIGHT',false)"><button class="btn" id="btn_{{roomName}}_NIGHT">NIGHT</button></a>
                                    </div>
                                    <!-- AA  -->
                                    <div class="btn-toolbar" style="background-color:#F5F5F5; padding:10px;">
                                          <h4>Filter by category</h4>
                                          <a href="javascript:filterByRuleCategory('{{roomName}}','SHOWALL',false)"><button class="btn active" id="btn_{{roomName}}_SHOWALL" >SHOW ALL</button></a>
                                          {% for category in categories %}
                                            <a href="javascript:filterByRuleCategory('{{roomName}}','{{category}}',false)"><button class="btn" style="margin: 3px" id="btn_{{roomName}}_{{category}}">{{categoriesTranslation[category]}}</button></a>
                                            {{loop.counter }}
                                          {% endfor %}
                                    </div>
                                    <hr>
                                    {% for rule in roomRules[roomName] %}
                                        <blockquote {% if rule.id in activeRoomRules[roomName] %} style="color:#77AE3B;" class="activeRule{% else %} class="inactiveRule{% endif %} rule_{{roomName}}_{{rule.category}} rule_{{roomName}}_{{periodMap[rule.antecedent]}}">
                                            <p {% if rule.enabled %} {% else %} class="muted" {% endif %}>
                                                {% if rule.enabled %} {% else %} <strike> {% endif %}
                                                    <b>if</b> {{rule.antecedent}} <b>then</b> {{rule.consequent}}
                                                {% if rule.enabled %} {% else %} </strike> {% endif %}
                                                <small class="muted">
                                                <span class="badge">{{rule["priority"]}}</span>
                                                    By:
                                                    {% if session.userUuid == rule.authorUuid %}
                                                        You
                                                    {% else %}
                                                        {{authorList[rule.authorUuid].personName}} - <i>{{authorList[rule.authorUuid].email}}</i>
                                                    {% endif %}

                                                    {% if rule.groupId %}
                                                        (Group {{rule.groupId }}-{{groupList[rule.groupId].description}}
                                                        {% if rule.roomName %}
                                                            {% if rule.roomName == roomName %} {% else %} / Room {{rule.roomName}} {% endif %}
                                                        {% endif %}
                                                        )
                                                    {% endif %}

                                                    {% if rule.groupId and rule.roomName %}
                                                    - [<a href="{{request.path}}/../groups/{{rule.groupId}}/rooms/{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>]
                                                            [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]
                                                    {% else %}
                                                        {% if rule.roomName %}
                                                            - [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>] [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]
                                                            {% if rule.enabled %}
                                                                [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/disable">Disable</a>]
                                                            {% else %}
                                                                [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/enable">Enable</a>]
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        </blockquote>
                                    {% endfor %}
                                    <br>
                                    <h4><b>Note:</b> Active rules are shown in green.</h4>
                                    <br>
                                    <form method="get" action="{{request.path}}/rules/add"> <input type="submit" value="Add a new rule"></form>



                              </div>
                              <!--<div class="tab-pane fade" id="roomBehavior_{{roomName}}" style="overflow-x: hidden">
                                <div class="container">
                                {% if displayGantt %}
                                    <h2>Rules with time constraints</h2>
                                    <br>
                                    <iframe src="{{request.path}}/graphicalViewSummary" class="frame"></iframe>
                                {% endif %}
                                <h2>Simulation</h2>
                                    <br>
                                <iframe src="{{request.path}}/graphicalView" class="frame"></iframe>
                                </div>
                              </div> -->
                              <div class="tab-pane fade" id="ruleNavigator_{{roomName}}">
                                <div class="container.small">
                                    <h4>This table gives an overview of the inserted rules dividing them by category. <br>
                                        Each rule is described by its trigger category and priority and you can edit, delete or disable them.
                                    </h4> <br>
                                    <table border="1" style="border: 1px solid black">

                                        {% for category in categories %}
                                            <tr style="border: 1px solid black">
                                                <td style="background-color:#72AC44; color:white">{{categoriesTranslation[category]}}</td>
                                                {% for rule in roomRules[roomName] %}
                                                    {% if category == rule.category %}
                                                        <td class="ruleNav_{{rule.triggersCategory[0]}}">
                                                            Priority: {{rule.priority}}
                                                            <br>
                                                            {% if rule.enabled %} {% else %} <strike> {% endif %}
                                                                {% for triggerCategory in rule.triggersCategory %}
                                                                    <b>{{triggerCategory}}</b> <br>
                                                                {% endfor %}
                                                            {% if rule.enabled %} {% else %} </strike> <b>(disabled)</b>{% endif %}
                                                            <br>
                                                            [<a href="javascript:alert('if {{rule.antecedent}} then {{rule.consequent}} ')">Info</a>]
                                                            {% if session.userUuid == 1 %}
                                                                [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/edit">Edit</a>]

                                                                [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/delete">Delete</a>]

                                                            {% if rule.enabled %}

                                                                [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/disable">Disable</a>]

                                                            {% else %}
                                                                [<a href="{{request.path}}/../{{rule.roomName}}/rules/{{rule.id}}/enable">Enable</a>]
                                                            {% endif %}{% endif %}

                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>
                              </div>
                            </div>
                          </div>


                      </div>
                      <div>
                        <!--<form method="get" action="{{request.path}}/rules/add"> <input type="submit" value="Add a new rule"></form>-->
                        <br>
                        <div class="col-md-3">

                          <div class="well">
                            <h4>Sensors</h4>
                            <p style="font-size: 14px">
                              {% for trigger in triggerList[roomName] %}
                                  {{trigger.description}}<br>
                              {% endfor %}
                            </p>
                          </div>
                          <div class="well">
                            <h4>Actuators</h4>
                            <p style="font-size: 14px">
                              {% for action in actionList[roomName] %}
                                  {{action.description}}<br>
                              {% endfor %}
                            </p>
                            <br>
                            <!--<h4>Occupants:</h4>
                            <p>
                              {% for user in userList[roomName] %}
                                  {{user.username}},
                              {% endfor %}
                            </p>
                            <br>
                            <h4>Part of groups: <br> <small>Click on the group name to see the room list</small></h4>

                              {% for group in roomGroupList[roomName] %}
                                  <a href="javascript:openPopup('{{request.path}}/../groups/{{group.id}}');">{{group.id}}:{{group.description}}</a>,
                              {% endfor %}-->
                          </div>
                        </div>
                      </div>
                    </div>

  {% endif %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/rooms.js') }}"></script>


    <script>
	/*window.onload = function(){
	//init();
    {% if alreadyLoggedIn %}
	{% else %}
	document.getElementById('showGuideButton').click();
	{% endif %}
	};*/
	{% for category in categories %}
		ruleCategories.push("{{category}}");
	{% endfor %}

	/*{#
	{% if mTurkStatus.experimentCompleted %}
		// THIS IS NEED TO SHOW THE END OF EXPERIMENT MESSAGE
		alert("You finished your experiment!");
		window.location.hash="mTurkPanel";
	{% else %}
		{% if mTurkStatus.taskCompleted %}
			alert("You finished your today task!");
			window.location.hash="mTurkPanel";
		{% endif %}
	{% endif %}
	#}*/

	</script>

	<script type="text/javascript">
	var popupStyle = "top=10, left=10, width=350, height=250, status=no, menubar=no, toolbar=no, scrollbars=yes";

	function openPopup(url)
	{
		window.open(url, "", popupStyle);
	}
	</script>

    <!-- get the height of the frame -->
    <script type="text/javascript">
        $('.frame').css('height' , $(document).height()+'px');
    </script>

{% endblock %}