{% extends "layout.html" %}

{% block body %}


  {% if session.logged_in %}


    <img id="graphImg" alt="Graph Image" src="{{url_for('static', filename='images/roomGraphs/')}}{{graphPath}}.png"/>

    <div id="term"></div>
  {% endif %}
  <script src="{{url_for('static', filename='js/jquery-1.8.3.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.terminal-0.8.8.js')}}"></script>
  <script>



     $(document).ready(function() {
        $('#graphImg').click(function() {
            window.open("{{url_for('static', filename='images/roomGraphs/')}}{{graphPath}}.png?"+ d.getTime());
        });
    });

     jQuery(function($) {
    $('#term').terminal(function(command, term) {
        if (command !== '') {
            if (command == 'editGraph -t identicalNode'){
                changeGraphType("node");
            }
            else if (command == 'editGraph -t actuatorsState'){
                changeGraphType("actuatorsState");
            }
            else {
                term.error(new String("Command unknown"));
            }
        } else {
           term.echo('');
        }
    }, {
        greetings: 'BuildingRules Graph Navigator',
        name: 'js_demo',
        onBlur: false,
        height: 200,
        prompt: 'js> '});
    });

     function changeGraphType(type) {
         $.ajax({
             type: 'POST',
             cache: false,
             data:{graphType:type},
             url: "{{request.path}}/update",
             success: function (resp) {
                 var json = JSON.parse(resp);
                 d = new Date();


                 $('#graphImg').attr({'src':"{{url_for('static', filename='images/roomGraphs/')}}" + json["graphPath"] + ".png?"+ d.getTime()});
             }
         });
     }
    </script>

{% endblock %}